body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
ul {
  list-style-type: none;
}
section {
  padding-top: 120px;
  padding-top: 120px;
}
.links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  display: flex;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.firstnavigation {
  display: flex;
  align-items: center;
}
.logo-type {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 156px;
  margin-right: 76px;
}
.logotype_2 {
  color: #2e2f42;
}
.secondnavigation {
  display: flex;
  gap: 40px;
}
.navigation {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navigation:hover {
  color: #404bbf;
}
.navigation:focus {
  color: #404bbf;
}
.contact_list {
  display: flex;
  gap: 40px;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contact_list li {
  margin-right: 40px;
}
.contact_list li:last-child {
  margin-right: 0;
}
.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}
.section-one {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.zagolovok {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
}
.buttonn {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-bottom: 185px;
}
.buttonn:hover {
  background-color: #404bbf;
}
.buttonn:focus {
  background-color: #404bbf;
}

.section-two {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  display: flex;
  gap: 24px;
}
.first {
  width: calc((100% - 72px) / 4);
}
.heading {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.pharagraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-three {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.workersstyle {
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 0 0 4px 4px;
}
.workers {
  display: flex;
  gap: 24px;
}
.workers li {
  margin-right: 24px;
}
.workers li:last-child {
  margin-right: 0px;
}
.div-workers {
  padding-top: 32px;
  padding-bottom: 32px;
}
.list-item:first-child {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.list-item {
  background-color: #ffffff;
}
.names {
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.secondnavigation li {
  margin-right: 40px;
}
.secondnavigation:last-child {
  margin-right: 0;
}
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.apps {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.apps-list {
  width: calc((100% - 48px) / 3);
}
.apps-text-style {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.appsparagraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-type-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 8px;
}
.spanlogotype {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.paragraf_footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.img {
  background-color: #ffffff;
}
