body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
ul {
  list-style-type: none;
}
section {
  padding-top: 120px;
  padding-top: 120px;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.address {
  display: flex;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}
.contact_list {
  display: flex;
  gap: 40px;
}
.contact_list li {
  margin-right: 40px;
}
.contact_list li:last-child {
  margin-right: 0;
}
.logo-type {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 156px;
  margin-right: 76px;
}
.logotype_2 {
  color: #2e2f42;
}
.firstnavigation {
  display: flex;
  align-items: center;
}
.sectionnumberone {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.zagolovok {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
}
.buttonn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.buttonn:hover {
  background-color: #404bbf;
}
.buttonn:focus {
  background-color: #404bbf;
}
.achive {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.paragraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.workers {
  gap: 24px;
  display: flex;
}
.workers li {
  margin-right: 24px;
}
.workers li:last-child {
  margin-right: 0px;
}
.navigation {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}
.secondnavigation {
  display: flex;
  gap: 40px;
}
.secondnavigation li {
  margin-right: 40px;
}
.secondnavigation li:last-child {
  margin-right: 0;
}

.navigation:hover {
  color: #404bbf;
}
.navigation:focus {
  color: #404bbf;
}
.sectionnumberthree {
  background: #f4f4fd;
}
.list {
  display: flex;
  gap: 24px;
}
.list li {
  margin-right: 24px;
}
.list li:last-child {
  margin-right: 0;
}
.first {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.apps {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.appsparagraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background: #2e2f42;
}
.logo-type-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.spanlogotype {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.paragraf_footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.img {
  background-color: #ffffff;
}
.fon {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
